@using Grp.L2PSite.MobileApp.Services
@if (Tools.isUserLoggedInAndAPIActive(Context))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <!--<a asp-controller="Manage" asp-action="Index" title="Manage" class="mdl-navigation__link">Data Here!</a>-->
        <a href="javascript:document.getElementById('logoutForm').submit()" class="mdl-navigation__link">Log off</a>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="mdl-navigation__link">Log in</a>
}