@using L2PAPIClient.DataModel;
@{
    ViewData["Title"] = "Literature";
    string courseId = ViewData["CourseId"].ToString();
    L2PCourseInfoData course = L2PAPIClient.api.Calls.L2PviewCourseInfoAsync(courseId).Result;
}
<div class="mdl-cell mdl-cell--12-col">

    <h3>@ViewData["Title"]</h3>
    <hr />
    <table align="left">
        <tr>
            <td style="align-content:flex-end">
                <a asp-controller="MyCourse" asp-action="AddLiterature" class="mdl-navigation__link" asp-route-id="@course.uniqueid">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Add Assignment">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </td>
            <td>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Corrected Assignments">
                    <i class="material-icons">delete</i>
                </button>
            </td>
            <td>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Corrected Assignments">
                    <i class="material-icons">file_download</i>
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="mdl-cell mdl-cell--12-col">
    <table align="left" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">File</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="https://www3.elearning.rwth-aachen.de/ws15/15ws-04405/Lists/LiteratureDocuments/A04/The%20Human.pdf">The Human</a></td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="https://www3.elearning.rwth-aachen.de/ws15/15ws-04405/Lists/LiteratureDocuments/A04/The%20Human.pdf">The Interaction</a></td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="https://www3.elearning.rwth-aachen.de/ws15/15ws-04405/Lists/LiteratureDocuments/A04/The%20Human.pdf">Theories</a></td>
            </tr>
        </tbody>
    </table>
</div>


