@{
    ViewData["Title"] = "About Us";
}

<div class="row" style="margin-top: 10px; margin-bottom: 10px">
    <div class="col s12 center-align">
        <div class="chip" style="font-size: 16px"><i class="material-icons">info</i>About Us</div>
    </div>
</div>
<div class="col s12">
    <div class="card light-blue darken-2">
        <div class="card-content white-text">
            <span class="card-title">About Our Project</span>
            <p>
                This project was built to improve the mobile version of the RWTH Aachen L2P System.
                We are a group of 5 people that worked on making a responsive web version using Material UI.<br /><br />
                Our Team Members Are:<br /><br />
            </p>
            <table>
                <tr>
                    <td>
                        <span><img class="round" style="width: 50px; height: 50px" src="~/images/about/boy-2.png" />John Jack Franji</span>

                    </td>
                    <td>
                        <span><img class="round" style="width: 50px; height: 50px" src="~/images/about/girl.png" />Pooja Soha</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span><img class="round" style="width: 50px; height: 50px" src="~/images/about/boy-5.png" />Mahbub Hasan</span>

                    </td>
                    <td>
                        <span><img class="round" style="width: 50px; height: 50px" src="~/images/about/girl-1.png" />Neetha Baliga</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span><img class="round" style="width: 50px; height: 50px" src="~/images/about/girl-7.png" />Kamar blbel</span>

                    </td>
                    <td>
                        <span><img class="round" style="width: 50px; height: 50px" src="~/images/about/man.png" />Atul Mohan</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
