@{
    ViewData["Title"] = "Calendar";
}
<div class="mdl-cell mdl-cell--12-col">
    <h3>@ViewData["Title"]</h3>
    <div id='calendar'></div>
</div>
<script>
    $(document).ready(function () {

        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            events: [
                {
                    title: 'Designing Interactive Systems II',
                    start: '2016-06-03',
                    description: 'This is a cool event'
                }
                // more events here
            ]
        });

    });
</script>