@using L2PAPIClient.DataModel
@{

    ViewData["Title"] = "Add Announcement";
    string courseId = ViewData["CourseId"].ToString();
    L2PCourseInfoData course = L2PAPIClient.api.Calls.L2PviewCourseInfoAsync(courseId).Result;
    L2PAnnouncementElement announcement = new L2PAnnouncementElement();
}
<h3>@ViewData["Title"]</h3>
<h4>@course.courseTitle</h4>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
        <table class="mdl-data-table mdl-js-data-table">
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><h5 style="color:blue">Title</h5></td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="Subject">
                            <label class="mdl-textfield__label" for="Subject">Text...</label>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><h5 style="color:blue">Subject</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="Body">
                            <label class="mdl-textfield__label" for="Body">Text...</label>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
        <button type="submit"
                class="mdl-button mdl-js-button
                                    mdl-button--raised mdl-button--colored
                                    mdl-js-ripple-effect">
            Submit
        </button>
    </div>
    
</div>


<script>

</script>