@{

    ViewData["Title"] = "Assignments";
}


<div class="mdl-cell mdl-cell--12-col">

    <div style="float:left;"></div><h4> @ViewData["Title"]</h4>
</div>

<hr />
<table align="left">
    <tr>
        <td style="align-content:flex-end">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Add Assignment">
                <i class="material-icons">add</i>
            </button>
        </td>
        <td>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Corrected Assignments">
                <i class="material-icons">folder</i>
            </button>
        </td>
    </tr>
</table>

<div class="mdl-cell mdl-cell--12-col" style="width:100%;">
    <table align="center" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr style="text-align:center">
                <th class="mdl-data-table__cell--non-numeric">Title</th>
                <th>Total Points</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a asp-controller="PreviousSemester" asp-action="Ex1" class="mdl-navigation__link" style="color:blue">Exercise1</a>
                </td>
                <td>20</td>
                <td>03/06/2016</td>
                <td>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">file_download</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-controller="PreviousSemester" asp-action="Ex2" class="mdl-navigation__link" style="color:blue">Exercise2</a>
                </td>
                <td>25</td>
                <td>12/06/2016</td>
                <td>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">file_download</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
            <tr>
                <td> <a asp-controller="PreviousSemester" asp-action="Ex3" class="mdl-navigation__link" style="color:blue">Exercise3</a></td>
                <td>15</td>
                <td>19/06/2016</td>
                <td>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">file_download</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


