@{
    ViewData["Title"] = "My Courses";
}

<div class="mdl-cell mdl-cell--12-col">
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp centered-content">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Course Room</th>
            <th class="mdl-data-table__cell--non-numeric">Type</th>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a asp-controller="MyCourse" asp-action="ShowSubject" class="mdl-navigation__link">Designing Interactive Systems II</a></td>
            <td class="mdl-data-table__cell--non-numeric">VÜ</td>
            <td>55</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a asp-controller="MyCourse" asp-action="ShowSubject" class="mdl-navigation__link">Software Project Management </a></td>
            <td class="mdl-data-table__cell--non-numeric">V</td>
            <td>66</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a asp-controller="MyCourse" asp-action="ShowSubject" class="mdl-navigation__link">Practical Lab: L²P App Development</a></td>
            <td class="mdl-data-table__cell--non-numeric">P</td>
            <td>30</td>
        </tr>
    </tbody>
</table>
</div>