@{
    ViewData["Title"] = "Learning Materials";
}

<div class="mdl-cell mdl-cell--12-col">
    <h4>@ViewData["Title"]</h4>
    <hr />
</div>

<div class="mdl-cell mdl-cell--12-col">

    <table align="left">
        <tr>
            <td style="align-content:flex-end">

                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Add Assignment">
                    <i class="material-icons">add</i>
                </button>

            </td>
            <td>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Corrected Assignments">
                    <i class="material-icons">delete</i>
                </button>
            </td>
            <td>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Corrected Assignments">
                    <i class="material-icons">file_download</i>
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="mdl-cell mdl-cell--12-col" style="width:100%;">
    <table align="center" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr style="text-align:center">
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Lecture Date</th>
                <th class="mdl-data-table__cell--non-numeric">Modified</th>
                <th class="mdl-data-table__cell--non-numeric">File Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">S02–GEL, BWS</td>
                <td class="mdl-data-table__cell--non-numeric">4/11/2016 10:05 AM</td>
                <td class="mdl-data-table__cell--non-numeric">April 18</td>
                <td class="mdl-data-table__cell--non-numeric">239 KB</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">S03–WM, UITK</td>
                <td class="mdl-data-table__cell--non-numeric">4/15/2016 2:10 PM</td>
                <td class="mdl-data-table__cell--non-numeric">April 22</td>
                <td class="mdl-data-table__cell--non-numeric">7578 KB</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">S04–UITK, Wayland</td>
                <td class="mdl-data-table__cell--non-numeric">4/19/2016 10:30 PM</td>
                <td class="mdl-data-table__cell--non-numeric">April 25</td>
                <td class="mdl-data-table__cell--non-numeric">5821 KB</td>
            </tr>
        </tbody>
    </table>

</div>


